:root {
  --color-gray-light: #bdbdbd;
  --color-black: #222;
}
$bp-small: 35rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 10xp = 1rem
  color: var(--color-black);
}
