.header {
  grid-row: header-start / header-end;
  grid-column: content-start / content-end;

  display: flex;
  align-items: center;
  margin-top: -8.4rem;
  background-color: yellow;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    grid-column: full-start / full-end;
  }
  video {
    align-self: center;
  }
  &__dropdown {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    svg {
    }
  }
}
