.portfolio {
  grid-column: content-start / content-end;
  grid-row: portfolio-start / portfolio-end;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    display: flex;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      gap: 2rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: full-start / full-end;
    margin-top: -8.4rem;
  }
  h1 {
    @media only screen and (max-width: $bp-small) {
      padding-top: 8.4rem;
      padding-bottom: 4rem;
    }
  }

  &__button {
    transform: rotate(90deg);
    position: absolute;
    right: -6rem;
    bottom: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.project {
  margin: 0 1.5rem;

  transition: transform 0.3s;

  @media only screen and (max-width: $bp-large) {
    margin: 0 0.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
  }
  &__image {
    object-fit: cover;
    height: 28rem;
    width: 24rem;

    @media only screen and (max-width: $bp-large) {
      width: 18rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 60%;
      float: right;
    }

    @media only screen and (max-width: $bp-small) {
      height: 32rem;
      width: 36rem;
    }
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
  }
  &:hover {
    transform: scale(1.03);
  }
}
