.portfolio-page {
  width: 100%;
  grid-column: navigation-start / navigation-end;

  &__button {
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;

    align-items: center;
  }
  &__container {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(4, minmax(28rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
}
